<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.currencyconverter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name = "android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CurrencyConverter">
        <!--<activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

       <!-- <activity
            android:name=".MyBoundServiceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <!--<activity
            android:name=".miscellaneous.fragmentlearnings.FragmentFirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

<!--        <activity-->
<!--            android:name=".miscellaneous.serviceLearning.ServicetestActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!--<activity
            android:name=".adobeInterview.FirstMainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <!--<activity
            android:name=".intentservice.IntentServiceBroadActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->


     <!--   <activity
            android:name=".miscellaneous.thread.ThreadLearning"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <!--<activity
            android:name=".miscellaneous.thread.LooperHandlerThread"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <!--<activity
           android:name=".miscellaneous.thread.OwnHandlerThreadClass"
           android:exported="true">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>-->

        <!--<activity
           android:name=".miscellaneous.thread.ExampleHandlerThread"
           android:exported="true">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>-->

        <activity
            android:name=".workmanager.WorkManagerExample"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".adInterview.SecondActivity"/>

        <activity android:name=".asynctask.AsyncTaskActivity"/>

        <service android:name=".serviceexample.ServiceWithoutBinder"/>

        <service android:name=".serviceexample.ServiceDemo"
            android:foregroundServiceType="microphone"/>

        <service android:name=".serviceexample.BoundService"/>

        <service android:name=".serviceexample.MyBoundService"/>

        <service android:name=".miscellaneous.serviceLearning.MyService"/>

        <service android:name=".miscellaneous.serviceLearning.BoundService"/>

        <service android:name=".miscellaneous.serviceLearning.ForegroundService"/>

        <activity android:name=".ResultActivity"/>
    </application>

</manifest>